@import 'setup/variables';
@import 'setup/mixins';

.game {
  padding: 3% 4%;
  min-height: 100vh;
  background-color: $game-background-color;
  box-sizing: border-box;

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__description {
    @include pixel-border($pixel-box-color, $outline-width - 2px);
    padding: 0.5em 1em;
    color: $text-color--light;
    font-size: 0.8em;
  }

  &__username {
    align-self: center;
    text-transform: uppercase;
    color: $success-color;
  }

  &__list-item {
    margin-bottom: 1em;
  }

  &__levels {
    flex: 0 1 30%;
  }

  &__count {
    color: $text-color--light;
    text-align: center;
    margin-bottom: 4%;
  }

  &__playground {
    margin: auto;
    font-size: 1.5em;
    flex: 0 1 30%;

    & > .button {
      display: block;
      margin: 2% auto;
    }
  }

  &__timer {
    padding: 8% 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    color: $text-color--light;
  }

  &__gif {
    flex: 0 1 30%;
  }

  &__results {
    margin: auto;
    max-width: 50%;
  }

  &__options {
    margin: auto;
    min-width: 50%;
  }
}
