@import 'setup/variables';
@import 'setup/mixins';

$shadow-width: 4px;
$outline-width: 6px;
$shadow-color: $success-color--dark;

.button {
  background-color: $success-color;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1.5em;
  font-size: 18px;
  font-family: $ff-primary;
  text-decoration: none;
  color: $text-color--light;
  cursor: pointer;
  outline: none;
  border:none;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

  &:hover,
  &:focus {
    background-color: $button-success--hover;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px $shadow-color;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width black solid;
    border-bottom: $outline-width black solid;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width black solid;
    border-right: $outline-width black solid;
  }
}
