@import 'setup/variables';
@import 'setup/mixins';


$shadow-color: $success-color--dark;
$click-shadow-color: $danger-color--dark;

.button {
  @include pixel-border(#000000, $outline-width);
  background-color: $success-color;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1.5em;
  font-size: 18px;
  font-family: $ff-primary;
  text-decoration: none;
  color: $text-color--light;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

  &:hover,
  &:focus {
    background-color: $button-success--hover;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px $shadow-color;
  }

  &--click {
    @include pixel-border($pixel-box-color, $outline-width);
    background: $danger-color;
    font-size: inherit;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $click-shadow-color;

    &:hover,
    &:focus {
      background: $button-click--hover;
      box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px $click-shadow-color;
    }

    &:active {
      box-shadow: inset $shadow-width $shadow-width 0px 0px $click-shadow-color;
    }
  }
}
