<main class="game">
  <div class="game__row">
    <div class="game__description">
      <ol class="game__list">
        <li class="game__list-item">Choose level.</li>
        <li class="game__list-item">Press button to start.</li>
        <li class="game__list-item">Win gold finger.</li>
      </ol>
    </div>
    <div class="game__username">
      {{ username }}
    </div>
  </div>
  <div class="game__row" *ngIf="!showResults; else results">
    <div class="game__levels">
      <app-levels [levels]="levels" (newTime)="setNewTime($event)" [isTimerCounting]="isTimerCounting"></app-levels>
    </div>
    <div class="game__button">
      <div class="game__count">
        {{ clickCount }}
      </div>
      <button class="button button--click" (click)="incrementCount()">Click</button>
      <div class="game__timer">
        <app-timer #timer [setTime]="newTime" (timerStopped)="onTimerStopped($event)"></app-timer>
      </div>
    </div>
    <div class="game__gif">
      <img class="game__image" src="assets/images/guys.gif" alt="guys" [ngStyle]="{ visibility: showGif ? 'visible' : 'hidden' }" />
    </div>
  </div>
  <ng-template #results>
    <div class="game__row">
      <app-results class="game__results" [score]="clickCount"></app-results>
    </div>
    <div class="game__row">
      <div class="game__options">
        <ul class="options">
          <li class="options__item">
            <a class="options__link" routerLink="/">
              <img class="options__icon" src="assets/icons/restart.png" alt="" />
              <span class="options__name">Restart</span> 
            </a>
          </li>
          <li class="options__item">
            <a class="options__link" routerLink="/statistics">
              <img class="options__icon" src="assets/icons/statistic.png" alt="" />
              <span class="options__name">Statistics</span> 
            </a>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</main>
