@import "setup/variables";
@import "setup/mixins";

.home {
    min-height: 100vh;
    background: url(/assets/backgrounds/bg-home.gif) no-repeat center top / cover;
    display: flex;

    &__container {
        margin: auto;
    }

    &__header,
    &__form {
        text-align: center;
        margin: 0 auto;
    }

    &__title {
        @include text-shadow-retro;
        font-size: 4em;
        font-family: $ff-header;
        letter-spacing: 0.1em; 
        color: $text-color--light;
    }

    &__subtitle {
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }

    &__form {
        padding: 4% 0;
    }

    &__input {
        font-size: 1.1em;
        margin-bottom: 3%;
    }

    &__button {
        display: block;
        margin: 2% auto;
    }
}